body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 5px;
    color: aqua;
}
a{
    text-decoration: none;
    color: black;
}